<!doctype html>
<html lang="en">
<head>
    <!-- Meta-Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/bootstrap/favicon.ico">

    <title>阳光流淌的个人博客</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/blogHome.css" rel="stylesheet">
    <!--登录注册框样式-->
    <link href="/static/css/loginStyle.css" rel="stylesheet" type="text/css" media="all">
    <!-- This is what you need -->
    <script src="/static/js/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <!--.......................-->
    <!--blogTemplate Style-->
    <link href="/static/css/font/googleapis.css" rel="stylesheet">
    <link href="/static/css/templateBlog.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/styleTemplate/dist/css/AdminLTE.min.css">
    <!--Editormd-->
    <link rel="stylesheet" href="/static/Editormd/css/editormd.preview.min.css" />
    <link rel="stylesheet" href="/static/Editormd/css/editormd.min.css" />
    <!--博客模板来源于bootstarp4.0：https://getbootstrap.com/docs/4.0/examples/blog-->
    <!--slim版本的貌似不支持Ajax-->
    <script src="/static/jquery/jquery-3.2.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="/static/jquery/jquery-2.2.3.min.js" ></script>

</head>
<body>
<script type="application/javascript">
    $(function(){
        $.ajax({
            type:"GET",
            url:"/user/userInfo",
            dataType:"json",
            contentType:"application/json",
            success:function (data) {
                if(data!=null){
                    if(data.userstatus==1){
                        $("#navLoginButton").html(data.username);
                    }else{
                        var str = data.username + ":未激活";
                        $("#navLoginButton").html(str);
                    }
                    var logoutHtml = '<div class="dropdown-menu" id="navLogout" aria-labelledby="navbarDropdownMenuLink">'+ '<a class="dropdown-item" id="behaviorCenter" href="/user/manageCenter">个人中心</a><a class="dropdown-item" id="logoutButton" href="#">'+'退出登录</a> </div>';
                    var userHeadImg = '<ul class="navbar-nav mr-sm-0" id="navUserHead">'+ '<li class="nav-item" id="navLogin">'+
                            '<a class="nav-link" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'
                            +'<img src="/static/image/userHead/header.png" class="user-image" alt="User Image" style="width:25px;height:25px;border-radius:50%;"></a> </li></ul>';
                    $("#navLogin").append(logoutHtml);
                    $("#navbarCollapse").append(userHeadImg);
                }
            }
        });
        $("#navLogin").on('click',"#logoutButton",function(){
            swal({
                title: "确定退出登录？💔",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "狠心退出！",
                closeOnConfirm: false
            },
            function(){
                $.ajax({
                    type:"GET",
                    url:"/user/logout/check",
                    contentType:"text/html",
                    success:function (data) {
                        if(data=="logout_succ"){
                            window.location.reload();
                            swal({
                                title: "您已退出登录！",
                                timer: 3000,
                                showConfirmButton: false
                            });
                        }else{alert("退出登录失败！");}
                    }
                });
            });
        });
        var content = $("#navLoginButton").text();
        $("#navLoginButton").click(function(){
            var css = $('#loginDiv').css('display');
            if(css=='block'){
                $('#loginDiv').css('display','none');
                $("#navLoginButton").text(content);
            }else{
                if($("#navLoginButton").text()=="登录注册"){
                    $('#loginDiv').css('display','block');
                    $("#navLoginButton").text("关闭×");
                }else{
                    return true;
                }
            }
        });
    });
</script>
<script type="application/javascript">
    $(function () {
        var re1 = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        $("#userLogin").click(function () {
            var usertoken = $("#usertoken").val();
            var userpass = $('#userpass').val();
            var loginAlert = "";
            if(usertoken=="" || $.trim(usertoken).length==0 ||userpass=="" || $.trim(userpass).length == 0){
                loginAlert = "账号/密码不能为空";
                $("#loginAlert").text(loginAlert);
                $("#loginAlert").css('display','block');
                return false;
            }else{
                if(/^\d+$/.test(usertoken)==true){
                    if(!(/^\d{11,12}$/.test(usertoken))){
                        loginAlert += "请输入11~12位的手机号！"
                    }
                }else if(!(re1.test(usertoken))){
                    loginAlert += "请输入正确格式的邮箱地址！";
                }
                if(!(/^[0-9a-zA-Z-=.]{8,16}$/.test(userpass))){
                    loginAlert += "密码必须是8~16位！"
                }
            }
            if(loginAlert!=""){
                $("#loginAlert").text(loginAlert);
                $("#loginAlert").css('display','block');
                return false;
            }else{
                if(/^\d+$/.test(usertoken)==true){
                    //ajax提交表单
                    $.ajax({
                        type:"POST",
                        contentType: "application/json",
                        url:"/user/login/check",
                        data:JSON.stringify({"telephone":usertoken,"userpass":userpass}),
                        success:function (result) {
                            if(result=="login_succ"){
                                swal({
                                    title: "登录成功😊！",
                                    text: "3秒后自动关闭。",
                                    timer: 5000,
                                    showConfirmButton: false
                                });
                                window.location.reload();
                            } else if(result=="login_fail"){
                                swal("矮油，登录失败😶！", result)
                            }
                        }
                    });
                }else{
                    //ajax提交表单
                    $.ajax({
                        type:"POST",
                        contentType: "application/json",
                        url:"/user/login/check",
                        data:JSON.stringify({"useremail":usertoken,"userpass":userpass}),
                        success:function (result) {
                            if(result=="login_succ"){
                                swal({
                                    title: "登录成功😊！",
                                    text: "3秒后自动关闭。",
                                    timer: 5000,
                                    showConfirmButton: false
                                });
                                window.location.reload();
                            } else if(result=="login_fail"){
                                swal("矮油，登录失败😶！", result);
                            }
                        }
                    });
                }
            }
        });

        $("#userRegister").click(function () {
            var username = $("#username").val();
            var password = $('#password').val();
            var useremail = $('#useremail').val();
            var telephone = $('#telephone').val();
            var registerAlert = "";
            if(username==""||$.trim(username).length==0||password==""||$.trim(password).length==0||useremail==""||$.trim(useremail).length==0||telephone==""||$.trim(telephone).length==0){
                registerAlert = "用户名/邮箱/密码/手机号为必填项，均不能为空！";
                $("#registerAlert").text(registerAlert);
                $("#registerAlert").css('display','block');
                return false;
            }else{
                if(/^\d+$/.test(telephone)==true){
                    if(!(/^\d{11,12}$/.test(telephone))){
                        registerAlert += "您输入的手机号位数有误(请输入11~12位)!";
                    }
                }else{
                    registerAlert += "您输入手机号格式有误(必须全为数字)!)"
                }
                if(!(re1.test(useremail))){
                    registerAlert += "请输入正确格式的邮箱地址！";
                }
                if(!(/^[0-9a-zA-Z-=.]{8,16}$/.test(password))){
                    registerAlert += "密码必须是8~16位！"
                }
            }
            if(registerAlert!=""){
                $("#registerAlert").text(registerAlert);
                $("#registerAlert").css('display','block');
                return false;
            }else{
                swal({
                    title: "亲，❤️注册信息格式正确！",
                    text: "正在为您注册中...",
                    timer: 3000,
                    showConfirmButton: false
                });
                //ajax提交表单
                $.ajax({
                    type:"POST",
                    contentType: "application/json",
                    url:"/user/register/check",
                    data:JSON.stringify({"username":username,"userpass":password,"useremail":useremail,"telephone":telephone}),
                    success:function (data) {
                        if(data=="register_succ"){
                            swal({
                                title: "恭喜你，注册成功😊！",
                                text: "请尽快去邮箱:"+useremail+"激活！",
                                timer: 5000,
                                showConfirmButton: true
                            });
                        }else{
                            swal("矮油，注册失败😶！",data)
                        }
                    }
                });
            }
        });

    });
</script>

<script type="text/javascript">
    function submitThank(){
        // a,b,c,d,e,f,g分别为文章标题，文章摘要，文章主分类id，文章二级分类id，文章HTML内容,文章markdown原文,文章标签(以tag1,tag2,...字符串形式返回))
        var articleid = $article.id;
        var thankNum = parseInt($.trim($("#submitThank").children("span").text()))+1;
        $.ajax({
            type:"POST",
            contentType: "application/json",
            url:"/behavior/thank",
            data:JSON.stringify({"articleid":articleid}),
            success:function (data) {
                if(data=="setThank_success"){
                    $("#submitThank").children("img").attr("src","/static/image/thank2.png");
                    $("#submitThank").children("span").text(thankNum);
                    $("#commentNum").text(thankNum);
                } else if(data=="setThank_fail_重复点赞"){
                    swal({
                        title: "您已点过感谢,请勿重复❤️！",
                        text:  data,
                        timer: 3000,
                        showConfirmButton: false
                    });
                } else if(data=="setThank_fail_未登录"){
                    swal({
                        title: "亲，请先登录再点❤️哦！",
                        text:  data,
                        timer: 3000,
                        showConfirmButton: false
                    });
                } else{
                    swal("点❤失败😶！", data);
                }
            }
        });
        return false;
    };

    function submitCollect(){
        // a,b,c,d,e,f,g分别为文章标题，文章摘要，文章主分类id，文章二级分类id，文章HTML内容,文章markdown原文,文章标签(以tag1,tag2,...字符串形式返回))
        var articleid = $article.id;
        var collectNum = parseInt($.trim($("#submitCollect").children("span").text()))+1;
        $.ajax({
            type:"POST",
            contentType: "application/json",
            url:"/behavior/collect",
            data:JSON.stringify({"articleid":articleid}),
            success:function (data) {
                if(data=="collect_success"){
                    $("#submitCollect").children("img").attr("src","/static/image/save2.png");
                    $("#submitCollect").children("span").text(collectNum);
                    $("#collectNum").text(collectNum);
                    swal("收藏成功😊！");
                } else if(data=="collect_fail_重复收藏"){
                    swal({
                        title: "您已收藏过,请勿重复提交！",
                        text:  data,
                        timer: 3000,
                        showConfirmButton: false
                    });
                } else if(data=="collect_fail_未登录"){
                    swal({
                        title: "亲，请先登录再收藏️哦！",
                        text:  data,
                        timer: 3000,
                        showConfirmButton: false
                    });
                } else{
                    swal("收藏失败😶！", data);
                }
            }
        });
        return false;
    };

    function createCommentArea(){
        var theNode = $("#commentIcon");
        var commentNum = parseInt($.trim($(theNode).children("span").text()))+1;
        $(theNode).children("img").attr("src","/static/image/comment2.png");
        $(theNode).children("span").text(commentNum);
        var userName = $("#navLoginButton").text();
        var usrComment = document.getElementById('maincomment').value;
        var newdiv = document.createElement("div");
        var commentlist = document.getElementById("commentList");
        newdiv.className = 'box box-widget';
        var date = new Date();
        var time = date.toLocaleTimeString();
        newdiv.innerHTML = '<div class="box-header with-border"> <div class="user-block"> <img class="direct-chat-img" src="/static/image/userHead/header.png" alt="User Image">'
                + '<span class="username"><a href="#">'+userName+'</a></span><span class="description">'+time+'</span> </div><!-- /.user-block --> <div class="box-tools">'
                + '<a href="javascript:void(0)" onclick="submitThank()" style="margin-right:15px;color:#919191;" class="submitThank"> <img class="icon" src="/static/image/thumb-up1.png" alt="thumb-up" style="width="15px;" height="15px;"">0 赞</a>'
                + '<a href="" style="color:#919191;"><img class="icon" src="/static/image/discuss-1.png" alt="discuss" style="width="15px;" height="15px;"">讨论</a></div><!-- /.box-tools --> </div><!-- /.box-header -->'
                + '<div class="box-body"> <p>'+usrComment+'</p></div>';
        commentlist.appendChild(newdiv);
        return true;
    };

    function showCommentArea() {
        alert("此功能暂时没有开发哦亲！");
    };

</script>

<script>
    $(function(){
        $("#commentsubmit").click(function(){
            var comment = $("#maincomment").val();
            var articleid = $article.id;
            if(comment==""){
                swal({
                    title: "请不要提交空评论！！！",
                    showConfirmButton: true
                });
                return false;
            }
            $.ajax({
                type:"POST",
                contentType: "application/json",
                url:"/behavior/comment",
                data:JSON.stringify({"articleid":articleid,"comment":comment}),
                success:function (data) {
                    if(data=="setComment_success"){
                        createCommentArea();
                        //window.location.reload();
                    } else if(data=="setComment_fail_插入数据库失败"){
                        swal({
                            title: "setComment_fail_插入数据库失败",
                            text:  data,
                            timer: 3000,
                            showConfirmButton: false
                        });
                    } else if(data=="setComment_fail_未登录"){
                        swal({
                            title: "亲，请先登录再评论哦！",
                            text:  data,
                            timer: 3000,
                            showConfirmButton: false
                        });
                    } else{
                        swal("评论失败😶！", data);
                    }
                }
            });
            return false;
        });

        // $("#submitCollect").click(function () {
        //     var theNode = $(this);
        //     $(theNode).children("img").attr("src","/static/image/save2.png");
        //     swal("收藏成功😊！");
        //     return false;
        // });

        $("#submitShare").click(function () {
            var theNode = $(this);
            $(theNode).children("img").attr("src","/static/image/share2.png");
            var sharelink = window.location.href;
            swal(sharelink,"复制链接分享吧😊！");
            return false;
        });

        $("#searchSubmit").click(function () {
            var text = $("#navSearch").children("input").val();
            if(text==""){
                swal("请输入搜索关键词！");
                return false;
            }
        });


        $("#commentList").on("click",".submitCommentLike",function(){
            var theNode = $(this);
            var articleid = $article.id;
            var commentid = $(this).next().text();
            var mainuserid = $(this).next().next().text();
            var likeNum = parseInt($.trim($(this).children("span").text()))+1;
            $.ajax({
                type:"POST",
                contentType: "application/json",
                url:"/behavior/commentLike",
                data:JSON.stringify({"articleid":articleid,"commentid":commentid,"mainuserid":mainuserid}),
                success:function (data) {
                    if(data=="setCommentLike_success"){
                        $(theNode).children("span").text(likeNum);
                    } else if(data=="setCommentLike_fail_重复点赞"){
                        swal({
                            title: "您已点过赞哦,请勿重复点👍！",
                            text:  data,
                            timer: 3000,
                            showConfirmButton: false
                        });
                    } else if(data=="setCommentLike_fail_未登录"){
                        swal({
                            title: "亲，请先登录再点👍️哦！",
                            text:  data,
                            timer: 3000,
                            showConfirmButton: false
                        });
                    } else{
                        swal("点👍失败😶！", data);
                    }
                }
            });
            return false;
        });

        $("#commentList").on("click",".showDiscussionArea",function(){
            var discussionArea = $(this).parents(".box-widget").children(".box-comments");
            var css = discussionArea.css('display');
            if(css=='none'){
                $(discussionArea).css('display','block');
            }else{
                $(discussionArea).css('display','none');
            }
        });

        $("#commentList").on("click","#discussionSubmit",function(){
            var comment = $("#maincomment").val();
            var discussion = $(this).parents(".input-group").children("input").val();
            var mainCommentid = $(this).next().text();
            var mainUserid = $(this).next().next().text();
            var articleid = $article.id;
             if(discussion==""){
                 swal({
                     title: "提交内容为空😶！",
                     showConfirmButton: true
                 });
                 return false;
             }
             $.ajax({
                 type:"POST",
                 contentType: "application/json",
                 url:"/behavior/commentDiscuss",
                 data:JSON.stringify({"articleid":articleid,"discussion":discussion,"mainUserid":mainUserid,"mainCommentid":mainCommentid}),
                 success:function (data) {
                     if(data=="setCommentDiscussion_success"){
                         window.location.reload();
                         swal({
                             title: "讨论成功😊！",
                             showConfirmButton: false
                         });
                     } else if(data=="setCommentDiscussion_fail_插入数据库失败"){
                         swal({
                             title: "setCommentDiscussion_fail_插入数据库失败",
                             text:  data,
                             timer: 3000,
                             showConfirmButton: false
                         });
                     } else if(data=="setCommentDiscussion_fail_未登录"){
                         swal({
                             title: "亲，请先登录再参与讨论哦！",
                             text:  data,
                             timer: 3000,
                             showConfirmButton: false
                         });
                     } else{
                         swal("讨论失败😶！", data);
                     }
                 }
            });
            return false;
        });
    });
</script>


<header>
    <nav id="navBlog" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/index" target="_blank">Lyon's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                #foreach($category in ${categorys})
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ${category.getMainCategoryName()}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            #foreach($secondCat in ${category.getSecondCategorys()})
                                #foreach($item in ${secondCat.entrySet()})
                                    <a class="dropdown-item" href="/article/json/category?cId=$item.key" target="_blank">$item.value</a>
                                #end
                            #end
                        </div>
                    </li>
                #end

            </ul>
            <form class="form-inline mt-2 mt-md-0" id="navSearch" action="/article/elastic/category" method="post">
                <input class="form-control mr-sm-2" type="text" placeholder="🔍搜" aria-label="Search" name="keywords">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchSubmit">Search</button>
            </form>
            <ul class="navbar-nav mr-sm-0">
                <li class="nav-item dropdown" id="navLogin">
                    <a class="nav-link dropdown-toggle" href="#" id="navLoginButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">登录注册</a>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div id="loginDiv" class="Logincontainer w3layouts agileits" style="position:absolute;z-index: 99;left:25%;width:60%;height:auto;display:block;margin-top:80px;padding:20px 10px 30px 35px;display: none;">
    <div class="login w3layouts agileits">
        <h2>登 录</h2>
        <div id="loginArea" class="send-button w3layouts agileits">
            <input type="text"     id="usertoken" placeholder="手机号/邮箱" style="padding: 10px;">
            <input type="password" id="userpass" placeholder="密码" style="padding: 10px;">
            <p id="loginAlert" style="display: none;color:#ff0000;float: right">囧！账号/密码错误！</p>
            <input type="submit"   id="userLogin" value="登 录" style="margin-top:50px;">
            <input type="checkbox" id="brand1" value="" style="margin-left: 15px;">
            <label for="brand1"><span></span>记住我</label>
        </div>
        <div class="social-icons w3layouts agileits">
            <p style="margin-bottom: 5px;">- 其他方式登录 -</p>
            <ul>
                <li class="qq"><a href="#">
                    <span class="icons w3layouts agileits"></span>
                    <span class="text w3layouts agileits">QQ</span></a>
                </li>
                <li class="weixin w3ls"><a href="#">
                    <span class="icons w3layouts"></span>
                    <span class="text w3layouts agileits">微信</span></a>
                </li>
                <li class="weibo aits"><a href="#">
                    <span class="icons agileits"></span>
                    <span class="text w3layouts agileits">微博</span></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="register w3layouts agileits">
        <h2>注 册</h2>
        <div id="registerArea" class="send-button w3layouts agileits" style="margin-top: 20px;">
            <input type="text" id="username" placeholder="用户名" style="padding: 10px;">
            <input type="text" id="useremail" placeholder="邮箱" style="padding: 10px;">
            <input type="password" id="password" placeholder="密码" style="padding: 10px;">
            <input type="text" id="telephone" placeholder="手机号码" style="padding: 10px;">
            <p id="registerAlert" style="display: none;color:#ff0000;float: left">囧！注册信息有误！</p>
            <input id="userRegister" type="submit" value="免费注册" style="padding: 10px;margin-top: 30px;">
        </div>
    </div>

</div>

<main role="main">
    <div class="container">

        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href="#">World</a>
                <a class="p-2 text-muted" href="#">U.S.</a>
                <a class="p-2 text-muted" href="#">Technology</a>
                <a class="p-2 text-muted" href="#">Design</a>
                <a class="p-2 text-muted" href="#">Culture</a>
                <a class="p-2 text-muted" href="#">Business</a>
            </nav>
        </div>

        <div class="jumbotron p-4 p-lg-8 text-white rounded bg-dark">
            <div class="col-md-12 px-0">
                <h1 class="display-4 font-italic">《弹指一挥间》— 许嵩</h1>
                <p class="lead my-3" style="font-family:STFangsong;">
                    雨掸霜叶掸落一地过往
                    云遮秋雁遮住十载月光
                    我推开窗 满手回忆沙沙作响
                    枕簟凉 残烛晃 人惆怅
                    离愁别恨是心的溃疡
                    戴月披星是你在流浪
                    你推开窗花灯随烟波铺江上
                    露水凉 老船晃 人惆怅
                    弹指一挥间 你竟已遥远
                    沧海成荒野 真情永不灭
                    弹指一挥间 红尘已缈远
                    青丝蘸白雪 来路生云烟
                </p>
                <p class="lead mb-0"><a href="#" class="text-white" style="float: right">——Keep balance , Be a better man!</a></p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <a class="text-dark" href="https://www.zhihu.com/question/21395276/answer/300567726" target="_blank">可以用Python编程语言做哪些神奇好玩的事情</a>
                        </h3>
                        <strong class="d-inline-block mb-2 text-primary"> 【知乎】：Lyon</strong>
                        <div class="mb-1 text-muted">2018/06/21</div>
                        <p class="card-text mb-auto">
                            用Python写的第一个程序，是爬取糗事百科上的图片、自动下载到本地、自动分成文件夹保存，当时就觉得，卧糟，太NB了~第二个程序，当然还是图片爬虫，不过这次，嘿嘿，是妹纸图，你懂得~
                        </p>
                        <a href="https://www.zhihu.com/question/21395276/answer/300567726" target="_blank">阅读全文</a>
                    </div>
                    <div>
                        <img src="/static/uploadBlogFile/image/zhihu-Zhilian1.jpg" alt="知乎Lyon.jpg" title="知乎Lyon.jpg">
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <h3 class="mb-0">
                            <a class="text-dark" href="https://zhuanlan.zhihu.com/p/35233558" target="_blank">直接插入排序算法——Java实现</a>
                        </h3>
                        <strong class="d-inline-block mb-2 text-success">【知乎】：Lyon</strong>
                        <div class="mb-1 text-muted">2018/06/21</div>
                        <p class="card-text mb-auto">直接插入排序，是算法里老生常谈的经典，这里直接先上一段原始版的直接插入排序代码，然后顺着代码理思路，最后再来一段优化版的代码。</p>
                        <a href="https://zhuanlan.zhihu.com/p/35233558" target="_blank">阅读全文</a>
                    </div>
                    <div>
                        <img src="/static/uploadBlogFile/image/zhihu-1.jpg" alt="11.jpg" title="11.jpg" >
                    </div>
                ##<img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>

#if(!$article.articleTitle)
    <h1 class="display-4 font-italic">Dear friend,It's a no man's land,Please calm down and take a cup of tea!</h1>
    <h3 class="mb-0">
        <a class="text-dark" href="#">亲，你来到了一片没有知识存在的荒原！</a>
    </h3>
#else

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9 blog-main">

                    <div class="blog-post">
                        <div>
                            <h2 class="blog-post-meta" style="font-family: STXingkai;font-size: xx-large"><a href="/article/json/single?articleId=$article.id" target="_blank" style="color: #000000;">$article.articleTitle</a></h2>

                            <div class="linkandshare-mainarticle">
                                <a href="javascript:void(0)" onclick="submitThank()" style="margin-right:30px;color:#919191;" class="submitThank" id="submitThank">
                                    #if($article.getBehaviorStatus().getThankStatus()==1)
                                        <img class="icon" src="/static/image/thank2.png" alt="thank" width="15px;" height="15px;">
                                    #else
                                        <img class="icon" src="/static/image/thank1.png" alt="thank" width="15px;" height="15px;">
                                    #end
                                    <span id="thankNum">
                                        #if(!$article.getArticleThank())
                                            0
                                        #else
                                            $article.getArticleThank()
                                        #end</span>感谢
                                </a>

                            ##                        <img class="icon" src="/static/open-iconic/svg/comment-square.svg" alt="comment-square">
                                <a href="javascript:void(0)" onclick="showCommentArea()" style="margin-right:40px;color:#919191;" id="commentIcon">
                                    #if($article.behaviorStatus.commentStatus==1)
                                        <img class="icon" src="/static/image/comment2.png" alt="comment" width="15px;" height="15px;">
                                    #else
                                        <img class="icon" src="/static/image/comment1.png" alt="comment" width="15px;" height="15px;">
                                    #end
                                    <span>
                                        #if(!$article.articleComment)
                                            0
                                        #else
                                            $article.articleComment
                                        #end
                                    </span>评论</a>
                                <a href="javascript:void(0)" onclick="submitCollect()" style="margin-right:40px;color:#919191;" id="submitCollect">
                                    #if($article.behaviorStatus.collectStatus==1)
                                        <img class="icon" src="/static/image/save2.png" alt="star" width="17px;" height="17px;" >
                                    #else
                                        <img class="icon" src="/static/image/save1.png" alt="star" width="17px;" height="17px;" >
                                    #end
                                    <span id="collectNum">
                                        #if(!$article.articleCollection)
                                            0
                                        #else
                                            $article.articleCollection
                                        #end</span>收藏
                                </a>
                                <a href=""  style="color:#919191;" id="submitShare"><img class="icon" src="/static/image/share1.png" alt="share" width="15px;" height="15px;">分享</a>
                            </div>

                            <div>
                                <h4 class="font-italic" style="color:#9F79EE;font-size:15px">
                                    #set($tags = $article.articleTagList)
                                    #foreach($tag in $!{tags})
                                        <a class="anewTag" href="/article/tag?tagId=$tag.tagId" target="_blank">
                                            <span class="badge badge-success">$tag.tagName</span>
                                        </a>
                                    #end
                                    <span id="articleMainId" style="visibility: hidden">$article.articleMainId</span>
                                    <span id="articleSecondId" style="visibility: hidden">$article.articleSecondId</span>
                                </h4>
                            </div>
                            <div>
                                <p>Lyon 创建于：<span> $!date.format('yyyy-MM-dd HH:mm',$!article.createDate)</span></p>
                                <p><span style="color:#66CDAA;">文章分类:</span>
                                    <span>$article.mainCategoryName>></span>
                                    <a  href="/article/json/category?cId=$article.articleSecondId" target="_blank">$article.secondCategoryName</a>
                                </p>
                            </div>

                            <hr>
                            <h5 class="pb-3 mb-4 font-italic border-bottom">
                                $article.articleAbstract
                            </h5>
                        </div>



                        <div id="test-editormd-view" class="content editormd-preview-theme-dark">
                            <textarea style="display:none;" name="test-editormd-markdown-doc">Hello Markdown,Editor.md!</textarea>
                        </div>
                        <div id="test-editormd-view2">
                            <textarea id="append-test" style="display:none;" >$article.articleContent</textarea>
                        </div>

##                        <div class="content editormd-preview-theme-dark" id="content">
##                            $article.getArticleContent()
##                        </div>
##                        <div id="wordsView">
##                            <textarea style="display:none;" name="editormd-markdown-doc">$article.getArticleContent()</textarea>
##                        </div>

                        <nav class="blog-pagination">
                            #set($Recommend = $article.regularRecommend)
                            #if($Recommend.previousArticleId==0)
                                <a class="btn btn-outline-dark">木有上一篇了😶</a>
                                <a>$Recommend.previousTitle</a>
                            #else
                                <a href="/article/json/single?articleId=$Recommend.previousArticleId" class="btn btn-outline-success">上一篇</a>
                                <a href="/article/json/single?articleId=$Recommend.previousArticleId">$Recommend.previousTitle</a>
                            #end
                            #if($Recommend.nextArticleId==0)
                                <a class="btn btn-outline-info">木有下一篇了😶</a>
                                <a>$Recommend.nextTitle</a>
                            #else
                                <a href="/article/json/single?articleId=$Recommend.nextArticleId" javasclass="btn btn-outline-info">下一篇</a>
                                <a href="/article/json/single?articleId=$Recommend.nextArticleId">$Recommend.nextTitle</a>
                            #end
                        </nav>

                        <a href="/behavior/donateMoney" target="_blank" class="btn btn-outline-dark"><span class="badge badge-info">觉得有用? 给Lyon打个赏:)</span></a>

                    </div><!-- /.blog-post -->

                <div>
                    <div id="commentHeader">
                        <h3><span class="f-ff2">留言区</span></h3>
                        <textarea style="height:100px;" class="form-control" placeholder="亲，在此写下您的评论！" id="maincomment"></textarea>
                    </div>
                    <button type="button" id="commentsubmit"  class="btn btn-default btn-xs " style="background-color:#7D9EC0;color:#FFFFFF;width=5px;height=5px;float:right;">
                        <span class="glyphicon glyphicon-comment">评论
                    </button>
                </div>

                <div id="commentList0">
                    <div class="commentCounts" >
                        共<span class="j-flag" id="commentNum">#if(!$article.articleComment)0#else$article.articleComment#end</span>条评论
                    </div>
                </div>


                <div id="commentList">
                    #set($comments = $article.articleCommentList)
                    #foreach($comment in $!{comments})
                        #set($discussions = $comment.discussionList)
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    <img class="direct-chat-img" src="/static/image/userHead/header.png" alt="User Image">
                                    <span class="username"><a href="#">$comment.userName</a></span>
                                    <span class="description">$!date.format('yy-MM-dd HH:mm',$comment.commentdate)</span>
                                </div>
                                <!-- /.user-block -->
                                <div class="box-tools">
                                    <a href="javascript:void(0)"  style="margin-right:15px;color:#919191;" class="submitCommentLike">
                                        <img class="icon" src="/static/image/thumb-up2.png" alt="thumb-up" width="15px;" height="15px;"><span>$comment.commentLikeNum</span>赞</a>
                                    <span style="visibility: hidden">$comment.id</span>
                                    <span style="visibility: hidden">$comment.userId</span>
                                    <a href="javascript:void(0)" style="color:#919191;" class="showDiscussionArea"><img class="icon" src="/static/image/discuss-2.png" alt="discuss" width="15px;" height="15px;">讨论</a>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <p>$comment.comment</p>
                            </div>

                            <!-- 评论——用户讨论模块 -->
                            <!-- /.box-body -->
                            <div class="box-footer box-comments" style="display: none">
                                <div class="col-lg-12">

                                    <!-- DIRECT CHAT -->
                                    <div class="box box-warning direct-chat direct-chat-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">讨论</h3>

                                            <div class="box-tools pull-right">
                                                <span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                                    <i class="fa fa-comments"></i></button>
                                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body" style="height: 100px;">
                                            <!-- Conversations are loaded here -->
                                            <div class="direct-chat-messages" id="direct-chat-messages">


                                                <!-- Message. Default to the left -->
                                                <div class="direct-chat-msg">
                                                    <div class="direct-chat-info clearfix">
                                                        <span class="direct-chat-name pull-left">Lyon</span>
                                                        <span class="direct-chat-timestamp pull-right">00:00</span>
                                                    </div>
                                                    <!-- /.direct-chat-info -->
                                                    <img class="direct-chat-img" src="/static/image/userHead/header.png" alt="message user image"><!-- /.direct-chat-img -->
                                                    <div class="direct-chat-text">
                                                        亲，快来参与讨论吧~
                                                    </div>
                                                    <!-- /.direct-chat-text -->
                                                </div>
                                                <!-- /.direct-chat-msg -->
                                                #foreach($discussion in $!{discussions})
                                                    #if($discussion)
                                                        <!-- Message to the right -->
                                                        <div class="direct-chat-msg right">
                                                            <div class="direct-chat-info clearfix">
                                                                <span class="direct-chat-name pull-right">$discussion.userName</span>
                                                                <span class="direct-chat-timestamp pull-left">$!date.format('yyyy-MM-dd HH:mm',$discussion.discussdate)</span>
                                                            </div>
                                                            <!-- /.direct-chat-info -->
                                                            <img class="direct-chat-img" src="/static/image/userHead/header.png" alt="message user image"><!-- /.direct-chat-img -->
                                                            <div class="direct-chat-text">
                                                                $discussion.discussion
                                                            </div>
                                                            <!-- /.direct-chat-text -->
                                                        </div>
                                                        <!-- /.direct-chat-msg -->
                                                    #end
                                                #end
                                            </div>
                                            <!--/.direct-chat-messages-->
                                        </div>
                                        <!-- /.box-body -->
                                        <div class="box-footer">
                                            <form action="#" method="post">
                                                <div class="input-group">
                                                    <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-warning btn-flat" id="discussionSubmit">说一句</button>
                                                        <span style="visibility: hidden">$comment.id</span>
                                                        <span style="visibility: hidden">$comment.userid</span>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.box-footer-->
                                    </div>
                                    <!--/.direct-chat -->
                                </div>
                            </div>
                            <!-- 评论——用户讨论模块 -->

                        </div>
                    #end


                </div>
                </div><!-- /.blog-main -->




            <aside class="col-md-3 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded" style="font-family:Brush Script MT;color:#66CDAA;">
                    <h2 class="font-italic" style="color:#9F79EE;font-size:25px;">About</h2>
                    <p style="font-size:20px;font-family:fantasy;">《When you are old》</p>
                    <p style="font-size:18px;font-family:Brush Script MT"><em>————William Butler Yeats. </em></p>
                    <p style="font-size:15px;font-family:Vincent;font-weight:100">When you are old and grey and full of sleep,
                        And nodding by the fire，take down this book,And slowly read,and dream of the soft look,
                        Your eyes had once,and of their shadows deep;How many loved your moments of glad grace,
                        And loved your beauty with love false or true, But one man loved the pilgrim Soul in you
                        And loved the sorrows of your changing face; And bending down beside the glowing bars,
                        Murmur,a little sadly,how Love fled And paced upon the mountains overhead And hid his face amid a crowd of stars.
                    </p>
                </div>

                <div class="p-3">
                    <h3 style="font-size:35px;color:#9F79EE;font-weight: 300;">Tags</h3>
                    <ol class="list-unstyled mb-0">
                        #foreach($tag in $!{allTags})
                            <li><a href="/article/tag?tagId=$tag.tagId" target="_blank" class="btn btn-outline-secondary">
                                <span class="badge badge-success">$tag.tagName</span>
                            </a></li>
                        #end
                    </ol>
                </div>

                <div class="p-3">
                    <h3 style="font-size:35px;color:#9F79EE;font-weight: 300;">Info</h3>
                    <ol class="list-unstyled">
                        <li style="margin:5px;">浏览次数:<span>$blogInfo.viewCount</span></li>
                        <li style="margin:5px;">访客人数:<span>$blogInfo.visitorCount</span></li>
                        <li style="margin:5px;">用户人数:<span>$blogInfo.userCount</span></li>
                        <li style="margin:5px;">文章数:<span>$blogInfo.articleCount</span></li>
                        <li style="margin:5px;">评论数:<span>$blogInfo.commentCount</span></li>
                        <li style="margin:5px;">感谢数:<span>$blogInfo.thankCount</span></li>
                    </ol>
                </div>

                <div class="p-3">
                    <h3 style="font-size:35px;color:#9F79EE;font-weight: 300;">Other</h3>
                    <ol class="list-unstyled">
                        <li style="margin:5px;"><a href="https://www.zhihu.com/people/better-man007/activities">知乎-Lyon</a></li>
                        <li style="margin:5px;"><a href="#">微信公众号-阳光流淌007</a></li>
                        <li style="margin:5px;"><a href="https://github.com/Flowingsun007">GitHub-Flowingsun007</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->


        </div><!-- /.row -->
    </main>

#end

    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">返回顶部↑</a></p>
        <p>&copy; CopyRight 2018-2019 <a href="#">www.flowingsun.com</a> Inc All Rights Reserved 皖ICP备17013223号<a href="#">Email: </a>Flowingsun007@163.com</p>
    </footer>


</body>
</html>


<script src="/static/Editormd/examples/js/jquery.min.js" ></script>
<script src="/static/Editormd/lib/marked.min.js" ></script>
<script src="/static/Editormd/lib/pettyfy.min.js" ></script>
<script src="/static/Editormd/lib/raphael.min.js" ></script>
<script src="/static/Editormd/lib/underscore.min.js" ></script>
<script src="/static/Editormd/lib/sequence-diagram.min.js"></script>
<script src="/static/Editormd/lib/flowchart.min.js" ></script>
<script src="/static/Editormd/lib/jquery.flowchart.min.js" ></script>
##<script src="/static/Editormd/editormd.min.js" ></script>
<script src="/static/Editormd/editormd.js" ></script>
<script type="text/javascript">
    $(function() {
        var testEditormdView;
        var testEditormdView2;
        //testEditormdView.getMarkdown()可以获取显示出来的markdown源码
        testEditormdView = editormd.markdownToHTML("test-editormd-view", {
            markdown        : $("#append-test").text(),
            htmlDecode      : true,
            //htmlDecode      : "style,script,iframe",  // you can filter tags decode
            markdownSourceCode : true,
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
            codeFold: true
        });
        var result = testEditormdView.getMarkdown();
        testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
            markdown        : result,
            htmlDecode      : true,
            //htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
            codeFold: true
        });
    });
</script>
<!-- Bootstrap core JavaScript
    <!--================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="/static/bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/static/bootstrap/assets/js/vendor/popper.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>